*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
 font-family: 'Montserrat', sans-serif;

}
.iconmenu{
 display: none;
}
.navParent ul li {
 display: inline-block;
}
.navParent{
 padding-top: 2rem;
 text-align: center;
 margin-bottom: 3rem;
}

.navParent ul li a {
 display: inline-block;
 padding: 10px 20px;
 text-decoration: none;
 color: #333;
}

.navParent ul li a:hover {
background-color:rgb(147 166 161);
 border: 1px solid rgb(147 166 161);
 border-radius: 10px;
}
.headerParent{
 margin: auto;
 justify-content: center;
 text-align: center;
 display: flex;
 color: white;
 height: 300px;
 align-items: center;
}

.headerImg{
 background-image:linear-gradient(rgba(107, 116, 67, 0.4) , rgba(0,0,0,.4)) , url(img/desk-3204896_1280.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
 
}
img{
 width: 100%;
}

.sectionImg{
 margin-top: 2rem;
}
.sectionContents{
 display: flex;
 justify-content: center;
 width: 100%;
 height: 300px;
 text-align: center;
 align-items: center;
}
.about{
 width: 50%
}
.icon{
 font-size: 40px;
}
.about h2{
 padding-bottom: 2rem;
}

.projeparent{
 width: 100%;
 display: flex;
 justify-content:center;
 align-items: center;
 text-align: center;
}
.projeContents{
 text-align: center;
}
.proje1{
 margin-top: 2rem;
 width: 20%;
 display: inline-block;
}
.proje2{
 margin-left: 2rem;
 width: 20%;
 display: inline-block;
}
.fotParent{
 display: block;
 justify-content: space-between;
 text-align: center;
 align-items: center;
 margin-top: 3rem;
}
.fotParent  li a{
 color: black;
 font-size: 1.7rem;
}
.footerSocial li{
 display: inline-block;
margin: 1rem 1rem;
 
}
footer{
 background-color: rgb(147 166 161);
}
.contents{
 padding-top: 2rem;
}
.iconmenu{
 display: none;
}
@media screen and (max-width:800px) {
 .container{
    width: 100%;
}
.menu{
    display: none;
}
.iconmenu{
    display: block;
    font-size: 2rem;
}
.headerParent{
 width: 100%;
}
.about{
 width: 95%;
padding-top: 2rem;
}
.projeparent{
 width: 100%;
 padding-top: 2rem;
}
.proje2, .proje1{
 width: 80%;
 padding-top: 2rem;
}
}